@use '~@angular/material' as mat;
@use "./config" as var;
@use 'sass:map';

// SECTION NAVBAR
@mixin navbar-config ($theme) {
  $theme-color   : mat.get-color-config($theme);
  $primary       : map.get($theme-color, primary);
  $secondary     : map.get($theme-color, accent);
  $tertiary      : map.get($theme-color, warn);

  nav {
    background-color: mat.get-color-from-palette($primary, 500);
    color: var.$white;
    @extend %padding-15;
    .logo {
      color: var.$white;
      text-decoration: none;
      font-size: 28px;
    }
    a {
      color: var.$white;
    }
  }
}

// SECTION MAIN
@mixin main-config ($theme) {
  $theme-color   : mat.get-color-config($theme);
  $primary       : map.get($theme-color, primary);
  $secondary     : map.get($theme-color, accent);
  $tertiary      : map.get($theme-color, warn);

  main {
    // background-color: mat.get-color-from-palette($secondary, 500);
    // color: var.$white;
    @extend %padding-25;
  }
}

// SECTION ASIDE
@mixin aside-config ($theme) {
  $theme-color   : mat.get-color-config($theme);
  $info          : map.get($theme-color, info);

  aside {
    // background-color: mat.get-color-from-palette($info, 500);
    // color: var.$white;
    @extend %padding-25;
  }
}

// SECTION FOOTER
@mixin footer-config ($theme) {
  $theme-color   : mat.get-color-config($theme);
  $success       : map.get($theme-color, success);

  footer {
    // background-color: mat.get-color-from-palette($success, 500);
    // color: var.$white;
    @extend %padding-25;
  }
}

.grid {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  grid-template-areas: 'nav' 'main' 'aside' 'footer';
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}


@media(min-width: 1025px) {
  .grid {
    grid-template-columns: 250px 1fr 250px;
    grid-template-areas:
    'nav main aside'
    'nav main aside'
    'nav footer aside';
  }
}

@media(min-width: 1280px) {

}

@media(min-width: 1680px) {

}

@media(min-width: 1920px) {

}
