@use '~@angular/material' as mat;
@use "./common" as common;
@use 'sass:map';

@include mat.core();

$theme-project-primary    : mat.define-palette(mat.$indigo-palette);
$theme-project-accent     : mat.define-palette(mat.$pink-palette, A200, A100, A400);
$theme-project-warn       : mat.define-palette(mat.$red-palette);


// EXTRA COLOR
$theme-project-success    : mat.define-palette(mat.$green-palette, A200, A100, A400);
$theme-project-info       : mat.define-palette(mat.$cyan-palette);

$theme-project-theme: mat.define-light-theme((
  color: (
    primary: $theme-project-primary,
    accent: $theme-project-accent,
    warn: $theme-project-warn,
  )
));

$theme-project-theme: map.deep-merge(
  $theme-project-theme,
  (
    color: (
      success : $theme-project-success,
      info    : $theme-project-info,
    )
  )
);

@include mat.all-component-themes($theme-project-theme);

// ADDING  SECTION COLOR
@include common.navbar-config($theme-project-theme);
@include common.main-config($theme-project-theme);
@include common.aside-config($theme-project-theme);
@include common.footer-config($theme-project-theme);
