<div class="site-wrapper">
  <div class="grid">
    <nav>
      <div>
         <a href="#" class="logo">Logo</a>
         <ul>
           <li><a href="#">Home</a></li>
           <li><a href="#">About</a></li>
           <li><a href="#">Contact</a></li>
           <li><a href="#">Services</a></li>
         </ul>
      </div>
    </nav>
    <main>
      <h1>Site main area</h1>
    </main>
    <aside>
      <h2>Side Bar</h2>
    </aside>
    <footer>
      <h2>Site Footer</h2>
    </footer>
  </div>
</div>
